<nav class="navbar navbar-expand">
    <div class="container">
      <a class="navbar-brand"><b>Github Repositories listing page</b></a>
    </div>
  </nav>
  <br>
<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link btn btn-primary mx-2" routerLink="main" routerLinkActive="active">Main</a>
    <a class="nav-item nav-link btn btn-secondary mx-2" routerLink="/user-search" routerLinkActive="active">Search User</a>
    <a class="nav-item nav-link btn btn-success mx-2" routerLink="/repository-search" routerLinkActive="active">Search Repository</a>
  </div>
